<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".FastOpenAppQuickSettingsService"
            android:label="@string/fast_record"
            android:icon="@drawable/quick_button_icon"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>
    </application>
</manifest>